/vendor
/node_modules
/public/build
/.env
/.env.backup
/.phpunit.result.cache
/.phpstan.cache
/storage/*.key
/storage/app/private/*
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
